.container
  .row
    .card.card-block.register-card
      .col-xs-12.col-md-6.map-height
        #map
      .col-xs-12.col-md-6
        %h4.text-xs-center.event-action-title.new-event= t('new_event')
        = render partial: 'form', locals: { event: @event, action: 'new' }
