.container
  .row
    .card.card-block.show-card
      .col-xs-12.col-md-6.map-height
        #map
      .col-xs-12.col-md-6
        %h4.text-xs-center.event-action-title.edit-event= t('edit_event')
        = form_for(@event, url: { action: 'update' }, html: { role: "form" }) do |f|
          = devise_bootstrap_error_messages!
          = render partial: 'form', locals: { event: @event, action: 'show', f: f }
