@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";
@import "ripples";
@import "font-awesome";
@import "jquery-ui";
@import "simple-sidebar";

body {
  background-color: #f3f3f3;
}

ul.nav.nav-tabs {
  li.nav-item {
    width: 49%;
  }
}

nav.navbar.navbar-default {
  margin-bottom: 0px;
}

#site-title {
  margin-left: 0px;
  font-size: 34px;
}
