@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";
@import "ripples";
@import "font-awesome";
@import "jquery-ui";
@import "simple-sidebar";
@import "animate";
@import "jquery.raty";

body {
  background-color: #f3f3f3;
}

ul.nav.nav-tabs {
  li.nav-item {
    width: 49%;
  }
}

nav.navbar.navbar-default {
  margin-bottom: 0px;
}

#site-title {
  margin-left: 0px;
  font-size: 34px;
}

.main-card-content {
  padding-left: 10px;
  padding-right: 10px;
  .top_part {

  }
  .middle-part {

  }
}

.card-footer {
  padding: 0px 10px 0px 10px !important;
}

li.sidebar-brand {
  color: #999999;
  height: 50px;
  font-size: 22px;
  a {
    color: #fff !important;
  }
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

.card-list-span {
  position: absolute;
  margin-top: 4px;
  margin-left: 4px;
}

.smaller-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.event-side-btn {
  margin-top: 25px;
  margin-bottom: 0px;
}

.mini-event-map {
  width: 100%;
  height: 150px;
  // position: absolute;
}

.side-count {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  margin-right: 10px
}

#menu-toggle {
  margin-top: 8px;
}

#menu-toggle-brand {
  padding-left: 0px;
  padding-right: 0px;
}

.padding-top-bottom {
  padding-top: 5px;
  padding-bottom: 5px;
}
