%nav.navbar.navbar-dark.bg-inverse
  %a.navbar-brand{:href => root_path}= t('eventy')
  %ul.nav.navbar-nav.float-xs-right
    - if user_signed_in?
      %li.nav-item
        %a.nav-link{:href => destroy_user_session_path, data: { method: :delete}, rel: 'nofollow'}= t('logout')
    - else
      %li.nav-item
        %a.nav-link{:href => new_user_session_path }= t('login')
        -# %a.nav-link{:href => '#', data: { toggle: "modal", target: "#loginModal"} }= t('login')
      %li.nav-item
        %a.nav-link{:href => new_user_registration_path }= t('register')
        -# %a.nav-link{:href => '#', data: { toggle: "modal", target: "#registerModal"} }= t('register')
  %form.form-inline.mx-auto
    %input.form-control{:placeholder => "Search", :type => "text"}/
