%nav.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
  .container-fluid
    .navbar-header
      = link_to image_tag("sidebar-toggle.png", size: "55x55", alt: t('sidebar-toggle')), '', id: 'menu-toggle'
      %a.navbar-brand.pull-right#site-title{:href => root_path}
        = t('eventy')
    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li
          %a{:href => destroy_user_session_path, data: { method: :delete}, rel: 'nofollow'}= t('logout')
      - else
        %li
          %a{:href => new_user_session_path }= t('login')
          -# %a.nav-link{:href => '#', data: { toggle: "modal", target: "#loginModal"} }= t('login')
        %li
          %a{:href => new_user_registration_path }= t('register')
          -# %a.nav-link{:href => '#', data: { toggle: "modal", target: "#registerModal"} }= t('register')
